
//estilos de la sección historia (imágen y texto )

#history{
    
    position: relative;
    top: -115px;
    z-index: 100;
    margin-bottom: -50px;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        

    }

    //estilos del contenedor del título y el párrafo
    
    #history__content{
        @media screen and (min-width: 768px) {
            margin-top: 10rem;
            max-width: 36vw;
        }

    }

    //estilos de la imágen 

#history__img{
    max-width: 100vw;
    
    z-index: 2;

    @media screen and (min-width: 768px) {
        
        width: 28.6rem;
        height: 41.25rem;
        margin-right: 6rem;
    }

    
}



//estilos del título 

#history__title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
color: #060A24;
letter-spacing: 0;
line-height: 42px;

margin-bottom: 2rem;
padding-left: 1.5rem;
max-width: 80vw;

font-weight: 400;

@media screen and (min-width: 768px) {
  
    
    font-size: 48px;
    max-width: 60vw;
    min-width: 40vw;

  
    
color: #060A24;
letter-spacing: 0;
    

}

}



 
//estilos del párrafo

    #history__text{

      
    
     
     
     margin-left: 1.5rem;
     margin-right: 1.5rem;
     
        
     
        

font-family: 'IBM Plex Mono', monospace;
font-size: 14px;
color: #060A24;
letter-spacing: 0;
line-height: 22px;
max-width: 90vw;


@media screen and (min-width: 768px) {
    
  min-width: 34vw;
  
    
  
 
    font-size: 16px;
color: #060A24;
letter-spacing: 0;
line-height: 24px;
    

    
}
    }





}
