//estilos de la sección novedades 

#news{
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  padding-top:4rem;
  padding-bottom:6rem;

  @media screen and (min-width: 768px) {
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
      padding-top: 10rem;
      padding-bottom:8rem;
      margin-top: 0.5rem;
  }

  //estilos del título ¿Querés las últimas novedades?

  #news__title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
 font-weight: 400;

    @media screen and (min-width: 768px) {
    font-size: 48px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
font-weight: 300;

    }

   
    span{
        display: block;

        @media screen and (min-width: 768px) {
            display: inline;
        }
    }
    
  }

  //estilos del botón escuchá los episodios

  #news__button{
    background: #00F3BB;
    font-size: 16px;
color: #060A24;
letter-spacing: 0;
text-align: center;
line-height: 22px;
font-family: 'IBM Plex Mono', monospace;
font-weight: 500;;
width: 93vw;
    height: 3rem;
    cursor: pointer;
    display: block;
   text-decoration: none;
    margin-top: 3rem;
    margin-left: 0.8rem;
    padding: 0.8rem;


    border: none;

    &:hover {
        background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
        color: #ffffff;
        cursor: pointer;
      }

    @media screen and (min-width: 768px) {
        margin:0 auto;
        margin-top:4rem;
        font-size: 18px;
        max-width: 18rem;
        
    }




  }
}